In [68]:
import pandas as pd
from datetime import datetime

In [69]:
df = pd.read_csv('data/48_Industry_Portfolios_Daily.csv', skiprows=9, skipinitialspace=True,)
df.rename(columns={'Unnamed: 0' : 'Date'}, inplace= True)
df.columns = df.columns.str.strip()
df = df.apply(pd.to_numeric, errors= 'coerce')
df.to_csv('clean_data/daily_data.csv')
df.head()

C:\Users\alebr\AppData\Local\Temp\ipykernel_14808\4112649638.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/48_Industry_Portfolios_Daily.csv', skiprows=9, skipinitialspace=True,)

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
0,19260701.0,0.56,-0.07,-99.99,-1.39,0.00,-1.44,0.62,-1.27,-0.90,...,-0.93,0.14,2.77,-0.02,0.27,0.59,0.47,0.81,0.57,-1.66
1,19260702.0,0.29,0.06,-99.99,0.78,0.70,1.46,0.03,0.00,-0.34,...,1.07,0.07,0.00,0.01,-0.10,1.04,-0.03,-0.61,-1.03,3.09
2,19260706.0,-0.33,0.18,-99.99,-1.74,0.50,-0.96,-0.06,4.27,-1.20,...,0.73,-0.20,0.77,-0.22,-0.67,0.45,0.31,-0.72,0.62,1.41
3,19260707.0,3.57,-0.15,-99.99,-1.73,-0.12,-0.49,-0.06,-4.10,-0.22,...,2.22,0.18,-3.21,-0.57,-1.08,-1.09,0.21,0.07,0.17,0.62
4,19260708.0,0.30,1.12,-99.99,-0.15,0.30,-0.49,0.24,0.00,-0.01,...,-0.39,0.46,-1.10,-0.38,0.33,0.99,-0.88,-0.36,-1.10,0.98

In [70]:
df = pd.read_csv('data/48_Industry_Portfolios_Wout_Div.csv', skiprows=11, nrows= 1181, skipinitialspace=True)
df.rename(columns={'Unnamed: 0' : 'Date'}, inplace= True)
df.columns = df.columns.str.strip()
df.loc[:, df.columns != 'Date'] = df.loc[:, df.columns != 'Date'].apply(pd.to_numeric, errors= 'coerce')
df.to_csv('clean_data/div_data.csv')
df.tail()

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
1176,202407,5.10,3.87,3.57,3.04,11.69,8.50,-3.96,3.01,-1.47,...,11.79,0.19,6.30,-0.16,-2.68,7.26,8.40,19.38,6.57,5.87
1177,202408,2.25,4.76,5.38,0.80,7.95,-2.25,5.94,1.63,6.16,...,1.11,2.19,-1.32,0.62,5.30,1.98,4.23,0.55,0.80,6.19
1178,202409,2.50,0.74,0.23,0.70,-2.65,3.33,4.28,-2.51,1.02,...,2.93,2.41,-0.79,4.08,5.24,-2.18,-1.25,5.91,2.44,-1.39
1179,202410,4.29,-4.49,-7.70,-5.15,8.46,0.29,4.00,0.45,-6.21,...,-3.61,1.36,-1.72,-0.98,-0.66,4.92,-4.35,0.69,6.39,-2.66
1180,202411,3.02,0.33,-0.31,-0.45,2.15,3.67,14.11,5.36,6.91,...,6.12,8.26,11.73,10.15,6.12,13.01,8.20,7.81,14.01,7.36

In [71]:
df = pd.read_csv('data/48_Industry_Portfolios.CSV', skiprows=11, nrows= 1181, skipinitialspace=True)
df.rename(columns={'Unnamed: 0' : 'Date'}, inplace= True)
df.columns = df.columns.str.strip()
df.loc[:, df.columns != 'Date'] = df.loc[:, df.columns != 'Date'].apply(pd.to_numeric, errors= 'coerce')
df.to_csv('clean_data/data.csv', index= False)
df.tail()

,Date,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
1176,202407,5.11,4.06,3.57,3.04,11.69,8.51,-3.96,3.15,-1.07,...,11.79,0.20,6.44,-0.13,-2.66,7.46,8.44,19.38,6.73,5.90
1177,202408,2.32,5.09,5.38,0.88,7.96,-1.92,5.98,1.69,6.30,...,1.24,2.45,-1.21,0.75,5.47,2.20,4.33,0.56,0.98,6.27
1178,202409,2.76,0.95,0.77,1.32,-1.31,3.37,4.29,-2.33,1.05,...,3.27,2.50,-0.72,4.09,5.43,-2.00,-1.02,5.99,2.61,-1.35
1179,202410,4.39,-4.28,-7.69,-5.15,8.46,0.29,4.02,0.61,-5.81,...,-3.61,1.37,-1.58,-0.96,-0.64,5.12,-4.31,0.69,6.53,-2.65
1180,202411,3.02,0.63,0.28,-0.40,2.15,4.00,14.15,5.40,7.01,...,6.22,8.43,11.84,10.25,6.25,13.21,8.33,7.82,14.13,7.44

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181 entries, 0 to 1180
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1181 non-null   int64
 1   Agric   1181 non-null   float64
 2   Food    1181 non-null   float64
 3   Soda    1181 non-null   float64
 4   Beer    1181 non-null   float64
 5   Smoke   1181 non-null   float64
 6   Toys    1181 non-null   float64
 7   Fun     1181 non-null   float64
 8   Books   1181 non-null   float64
 9   Hshld   1181 non-null   float64
 10  Clths   1181 non-null   float64
 11  Hlth    1181 non-null   float64
 12  MedEq   1181 non-null   float64
 13  Drugs   1181 non-null   float64
 14  Chems   1181 non-null   float64
 15  Rubbr   1181 non-null   float64
 16  Txtls   1181 non-null   float64
 17  BldMt   1181 non-null   float64
 18  Cnstr   1181 non-null   float64
 19  Steel   1181 non-null   float64
 20  FabPr   1181 non-null   float64
 21  Mach    1181 non-null   float64
 22  ElcEq   1181 non-null   float64
 23  Autos   1181 non-null   float64
 24  Aero    1181 non-null   float64
 25  Ships   1181 non-null   float64
 26  Guns    1181 non-null   float64
 27  Gold    1181 non-null   float64
 28  Mines   1181 non-null   float64
 29  Coal    1181 non-null   float64
 30  Oil     1181 non-null   float64
 31  Util    1181 non-null   float64
 32  Telcm   1181 non-null   float64
 33  PerSv   1181 non-null   float64
 34  BusSv   1181 non-null   float64
 35  Comps   1181 non-null   float64
 36  Chips   1181 non-null   float64
 37  LabEq   1181 non-null   float64
 38  Paper   1181 non-null   float64
 39  Boxes   1181 non-null   float64
 40  Trans   1181 non-null   float64
 41  Whlsl   1181 non-null   float64
 42  Rtail   1181 non-null   float64
 43  Meals   1181 non-null   float64
 44  Banks   1181 non-null   float64
 45  Insur   1181 non-null   float64
 46  RlEst   1181 non-null   float64
 47  Fin     1181 non-null   float64
 48  Other   1181 non-null   float64
dtypes: float64(48), int64(1)
memory usage: 452.2 KB